.Rodapé{
    justify-content: end;
}
footer {
    background-color:rgb(245, 245, 209); /* Cor de fundo do rodapé */
    color: deepskyblue; /* Cor do texto no rodapé */
    padding: 10px; /* Espaçamento interno do rodapé */
    text-align: justify; /* Alinhamento do texto */
    position: fixed; /* Para fixar o rodapé na parte inferior da página */
    left: 0;
    bottom: 0;
    width: 100%; /* Largura ocupando toda a largura da página */  
}