.cabecalho{
    display:flex;
    background-color: beige;
    justify-content: space-around;
}
.titulo{
    font-size: 3rem;
    color:deepskyblue;
    background-color: beige;
}
.subtitulo{
    font-size: 2rem;
}
